langchain
langchain-community
langchain-unstructured
langchain-openai
langchain-chroma
langgraph-supervisor
langchain-tavily
openai
chainlit
chromadb
tiktoken
PyPDF2
pypdf
pandas
tabulate
google-adk
langgraph
langchain-docling
ipython
langchain-anthropic
langchain_google_genai
langchain_huggingface
sentence-transformers